.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-1-computer-score, #container-1-player-score {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 150px;
}

.container-1-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container-1-sub-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container-1-sub-group-player-title, .container-1-sub-group-computer-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#container-1-sub-computer, #container-1-sub-player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 50px;
}

#container-1-sub-result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 75px;
}