.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#container-1-date, #container-1-time {
    width: 100px;
    height: 50px;
}
