.container-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#container-1-button-show-quantity, #container-1-button-add-cart,
#container-1-button-add-two, #container-1-button-add-three,
#container-1-button-cart-reset {
    padding: 10px;
}